{% extends 'core/base.html' %} 

{% block title %} Welcome {% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl text-center text-3xl">
        SRO Points
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <ul class="space-y-2">
            <li class="{{ styling }}">
                New Result
            </li>
            
            <li class="{{ styling }}">
                <a href="#"> Drivers Standings </a>
            </li>
            <li class="{{ styling }}">
                <a href="#"> Manufacturer Standings </a>
            </li>
            <li class="{{ styling }}">
                <a href="{% url 'standing:team' 'gtwca' %}"> Team Standings </a>
            </li>
           
        </ul>
    </div>
{% endblock %}
