{% extends 'core/base.html' %} 

{% block title %}Team Standing{% endblock %}

{% block content %}
    <h1 class="mb-6 text-3xl text-center">Team Standings</h1>

    {% for classification, teams in team_standing.items %}
        <div class="bg-gray-200 mb-10 border-2 border-black-600 p-1">
            <table class="w-full text-m text-left">
                
                <caption class="w-full h-1/2 text-white uppercase bg-red-500 font-bold">{{ classification }}</caption>
                <thead class="w-full text-m text-black-700 uppercase bg-gray-200 dark:bg-red-800 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-3 py-1">Pos</th>
                        <th scope="col" class="px-3 py-1">Team</th>
                        <th scope="col" class="px-3 py-1">Total</th>
                        {% with first_team=teams.0 %}
                            {% for round, value in first_team.points.items %}
                                <th scope="col" class="px-3 py-1">{{ round }}</th>
                            {% endfor %}    
                        {% endwith %}
                    </tr>
                </thead>
                <tbody>
                    {% for entry in teams %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">{{ forloop.counter }}</td>
                        <td class="whitespace-nowrap">{{ entry.teamName }}</td>
                        <td class="text-center">{{ entry.totalPoints }}</td>
                        
                        {% for round, value in entry.points.items %}
                            <td class="text-center">{{ value }}</td>
                        {% endfor %}
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}

{% endblock %}
